<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="62324e9d-f213-4e82-b3ef-fe62090e999c" Publisher="CN=charlie" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PremiseMetro</DisplayName>
    <PublisherDisplayName>charlie</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PremiseMetro.App">
      <VisualElements DisplayName="PremiseMetro" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PremiseMetro" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>